.app {
  width: 500px;
  height: fit-content;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
}

/* @media screen and (max-width: 480px) {
  .app {
    width: 360px;
    height: fit-content;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 900px) {
  .app {
    width: 700px;
    height: fit-content;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
  }
} */

/* @media screen and (max-width: 1080px) {
  .app {
    width: 600px;
    height: fit-content;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
  }
} */
